
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@500&family=Poppins:wght@600&display=swap');

/**------------------Página inicial------------------------**/
.pagina_principal{
    background-image: url('imagens/Capa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

@media (max-width: 768px) {  
    .pagina_principal {
        background-size: contain; 
        background-position: top center; /* Ajustar para telas menores */
    }
}
.botao {
    padding: 1.5vh 3vw; /* Ajustar proporcional ao tamanho da tela */
    font-size: 1.5vw; /* Texto proporcional à largura da tela */
    position: absolute;
    top: 75vh; /* Posição fixa em relação à altura da tela */
    left: 43%; /* Centralizar horizontalmente */
    cursor: pointer;
    border-radius: 40px;
    color: white;
    background-size: 100% ;
    background-color: red;
    font-family: 'Poppins', serif;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: mover 1.5s infinite alternate ease-in-out;
    white-space: nowrap; /* Evitar quebra de linha no texto */
}
.botao:hover {
    background-color: #59d307;
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}



/**-----------------Página do formulário de inscrição-----------------------**/
.btn-voltar {
    padding-left: 64px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #57534E;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080a86;
}

.container {
    display: flex;
    width: 60%;
    max-width: 1200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(141, 63, 63, 0.1);
    overflow: hidden;
}

.formulario {
    flex: 1; 
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    overflow-x: hidden; /* Adicionar barra de rolagem*/
    max-height: 90vh; /* Evitar que o formulário ultrapasse a tela */

}

.imagem {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: #080a86;
}

.imagem img {
    max-width: 100%;
    height: auto; 
    object-fit: contain;
}

.imagem_trilha {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.titulo {
    margin-top: 25px;
    padding-left: 64px;
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #292524;
}

.subtitulo {
    width: 95%;
    padding-left: 64px;
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #57534E;
}

.intertitulo {
    margin-top: 25px;
    padding-left: 64px;
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #292524;
}

.dados_pessoais {
    display: block;
    margin-top: 10px;
    padding-left: 64px;
    font-family: 'Poppins', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #57534E;
}

#data_nascimento {
    width: 82%;
    padding: 8px;
    cursor: pointer;
    border-color: #D6D3D1;
    color: #57534E;
}

#cpf {
    width: 82%;
    padding: 8px;
    border-color: #D6D3D1;
    color: #57534E;
}

#sexo {
    width: 84.5%;
    padding: 8px;
    cursor: pointer;
    border-color: #D6D3D1;
    color: #57534E;
}

#telefone {
    width: 81.5%;
    padding: 8px;
}

.upload_documento {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
    margin-top: 10px; 
    padding-left: 64px;
    background-image: url('imagens/FileUploadField.png'); 
    background-repeat: no-repeat;
    background-position: 65px;
    background-size: 84% auto;
    color:  #59d307;
}

.upload-label {
    font-weight: 400;
    font-family: 'Poppins', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    margin-bottom: 10px;
    color: #57534E;
}

#file-upload {
    display: block; 
    width: 72%;
    padding: 63px;
    margin-bottom: 40px;
    color: transparent;
    cursor: pointer;
}

/* Ocultar o botão de escolha de arquivo */
#file-upload::-webkit-file-upload-button {
    display: none; 
}

#cep {
    width: 82%;
    padding: 8px;
}

#estado {
    width: 84.5%;
    padding: 8px;
    cursor: pointer;
    border-color: #D6D3D1;
    color: #57534E;
}

.subintertitulo {
    margin-top: 10px;
    padding-left: 64px;
    font-family: 'Poppins', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #57534E;
}

.checkbox_trilha {
    padding-left: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    max-width: 400px; 
}

/* Muda a cor quando a checkbox está marcada */
#opcao_trilha:checked {
    accent-color: #E43A12; 
}

.item_trilha {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    border: 2px solid #D6D3D1;
    border-radius: 8px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    width: 270px;
    position: relative;
}

.item_trilha input {
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000CC;
}

.item_trilha img {
    padding-left: 10px;
    padding-top: 15px;
    width: 40px; 
    height: 40px;
    margin-bottom: 5px; 
}

.checkbox_termos {
    padding: 30px 60px;
    min-width: 700px;
    display: flex; 
    align-items: flex-start; 
    gap: 10px; 
}

.termos_texto a {
    text-decoration: none;
}

input[type="checkbox"] {
    cursor: pointer; /* Mantém o clique apenas na checkbox */
}

/* Muda a cor quando a checkbox está marcada */
#aceitar_termos:checked {
    accent-color: #E43A12; 
}

.caixa_texto {
    width: 82%;
    padding: 8px;
    padding-left: 8px;
    margin-top: 5px;
    margin-left: 64px;
    border-radius: 8px;
    border-style: solid;
    border-color: #D6D3D1;
}

.btn-grupo {
    display: flex; 
    justify-content: flex-end; 
    padding-right: 50px;
    padding-top: 40px;
    gap: 10px; 
}

.cancel-btn {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    align-items: center;
    cursor: pointer;
    height: 48px;
    width: 169px;
    border-radius: 8px;
    border-color: #E43A12; 
    border-style: solid;
    background-color: white;
    color: #E43A12
    
}

.submit-btn {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    align-items: center;
    cursor: pointer;
    height: 48px;
    width: 169px;
    border-radius: 8px;
    border-color: #E43A12; 
    background-color: #E43A12;
    color: white
    
}

.footer {
    color: white; 
    text-align: center; 
    padding: 0.1vh 8vw;
    position: fixed; 
    bottom: 0; 
    font-size: 0.9vw; 
    font-family: 'Poppins', serif;
    font-weight: 400;
}


/* ------------------- Responsividade ----------------------*/
@media (max-width: 1024px) {
    .container {
        width: 100%;
        flex-direction: column; 
    }

    .formulario {
        margin-top: 10%;
        padding: 20px;
        max-height: 98vh;
    }

    .subtitulo {
        width: 85% ;
    }

    .imagem {
        display: none; 
    }

    .caixa_texto {
        width: 82%; 
        padding-left: 8px; 
        margin-left: 6%;
    }

    #data_nascimento, #cpf, #telefone, #cep {
        width: 82%;
    }

    #sexo, #estado {
        width: 84%;
    }

    #file-upload { 
        width: 72%;
        padding: 63px;
        margin-bottom: 15%;
    }

    .checkbox_trilha {
        gap: 10px; 
        max-width: 400px; 

    }

    .btn-grupo {
        justify-content: center;
        padding-right: 0;
        flex-direction:row ;
    }

    .cancel-btn, .submit-btn {
        margin-left: 150%;
        height: 50px;
        width: 160px;
        margin-bottom: 10%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .formulario {
        padding-left: 1%;
        max-height: 98vh;
    }

    .subtitulo {
        width: 85% ;
    }

    .caixa_texto {
        width: 81%;
        margin-left: 9%;
    }

    #data_nascimento, #cpf, #telefone, #cep {
        width: 81%;
    }

    #sexo, #estado {
        width: 84%;
    }

    .checkbox_trilha {
        padding-left: 9%;
        gap: 10px; 
        max-width: 400px; 
    }

    .checkbox_termos {
        min-width: 640px;
    }

    .btn-grupo {
        flex-direction:row ;
        gap: 10px;
        align-items: center;
    }

    .cancel-btn, .submit-btn {
        margin-left: 95%;
        height: 50px;
        width: 160px;
    }

}

@media (max-width: 700px) {
    .container {
        width: 100%;
    }

    .formulario {
        padding-left: 1%;
    }

    .subtitulo {
        width: 85% ;
    }

    .caixa_texto {
        width: 81%;
        margin-left: 10%;
    }

    #data_nascimento, #cpf, #telefone, #cep {
        width: 81%;
    }

    #sexo, #estado {
        width: 84%;
    }

    .checkbox_trilha {
        margin-left: 5%;
        gap: 10px; 
        display: grid;
        grid-template-columns:max-content;
    }

    .checkbox_termos {
        min-width: 385px;
    }

    .btn-grupo {
        flex-direction:row ;
        gap: 10px;
        align-items: center;
    }

    .cancel-btn, .submit-btn {
        margin-left: 84%;
        height: 50px;
        width: 160px;
        margin-bottom: 10%;
    }

}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }

    .subtitulo {
        width: 85% ;
    }

    .caixa_texto {
        width: 79%;
        margin-left: 15%;
    }

    #data_nascimento, #cpf, #telefone, #cep {
        width: 79%;
    }

    #sexo, #estado {
        width: 83%;
    }

    .checkbox_trilha {
        padding-left: 15%;
        display: grid;
        grid-template-columns:min-content; 
        gap: 10px; 
        max-width: 400px; 
    }

    .checkbox_termos {
        min-width: 340px;
    }

    .btn-grupo {
        flex-direction:row ;
        gap: 10px;
        align-items: center;
    }

    .cancel-btn, .submit-btn {
        margin-left: 10%;
        height: 50px;
        width: 160px;
        margin-bottom: 20%;
    }

}
